# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`. You should've created this data file in the previous section: *Merging Datasets*.

In [1]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')
df.head(1)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,...,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,19.0,27.0,...,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [11]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]

In [12]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg
model
ACURA RDX     22.000000  22.500000
AUDI A3       28.333333  28.000000
AUDI A4       27.250000  27.000000
AUDI A6       22.666667  25.666667
AUDI A8 L     21.500000  22.000000

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [13]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [14]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA RDX     22.000000  22.500000    0.500000
AUDI A3       28.333333  28.000000   -0.333333
AUDI A4       27.250000  27.000000   -0.250000
AUDI A6       22.666667  25.666667    3.000000
AUDI A8 L     21.500000  22.000000    0.500000

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [15]:
model_mpg['mpg_change'].max()

14.000000000000004